@page "/beatmaps"
@using Oldsu
@using Oldsu.Types
@using Oldsu.Web
@model Oldsu.Web.Pages.BeatmapListing

@{
    Layout = "BaseLayoutWithBanner";
}


@* this might be retarded since this isn't a head *@
<link href=@PathCorrection.Correct("/resources/css/beatmap_listing.css") rel="stylesheet">
<link href=@PathCorrection.Correct("/resources/css/beatmap_preview.css") rel="stylesheet">

<div class="beatmap_listing_content" style="flex-direction: column">
    <form name="search_settings_wrapper">
        <div class="inputbar_wrapper" id="inputbar_beatmap_search">
            <p class="inputbar_label">Search for:</p>
            <input class="inputbar_text" type="text" name="query" value="@Model.SearchQuery"/>
        </div>
        <input type="submit" id="beatmap_search_submit" value="Search" class="submit_button">
    </form>
        
    <div class="beatmap_list">
        @{
            System.Diagnostics.Debug.Assert(Model.Listing != null, "Model.Listing != null");
            if(Model.Listing == null) {
                <p>No results match that query.</p>
            } else {
                //Model.Listing.Reverse();
                foreach(Beatmapset beatmapSet in Model.Listing) {
                    <div class="beatmap_preview_wrapper" style="background-image: linear-gradient(#FFFFFF, #FFFFFF), url('/resources/image/discoprincebg.jpg');">
                        <p class="beatmap_preview_title">@beatmapSet.Title</p>
                        <p class="beatmap_preview_artist">@beatmapSet.Artist</p>    
                        <p class="beatmap_preview_mapper">Mapped by <a href="/u/@beatmapSet.CreatorID">@beatmapSet.CreatorName</a></p>
                        <p class="beatmap_preview_info" title="Ranked by @beatmapSet.RankedBy"><b>Ranked</b></p>
                    </div>
                }
            }
        }
    </div>
    
    <div class="list_navigation">
        @{
            if (string.IsNullOrEmpty(Model.SearchQuery))
            {
                var back = int.Parse(Model.PageQuery) - 1;
                var next = int.Parse(Model.PageQuery) + 1;
            
                if (int.Parse(Model.PageQuery) == 1)
                {
                    <a href="/beatmaps?query=@Model.SearchQuery&page=@next">Next</a>
                }
                else if ((int.Parse(Model.PageQuery) + 1) * 20 > Model.TotalRows)
                {
                    <a href="/beatmaps?query=@Model.SearchQuery&page=@back">Back</a>
                }
                else
                {
                    <a href="/beatmaps?query=@Model.SearchQuery&page=@back">Back</a>
                    <a href="/beatmaps?query=@Model.SearchQuery&page=@next">Next</a>
                }
            }
        }
    </div>
    
</div>

<style>
    h5 {
        color: #ffeaea;
    } 
    .list_navigation a {
        background-color : rgb(176,166,166);
        color: white;
        padding: 5px 11px;
        border-radius: 7px;
        border-color: rgb(176,166,166);
        size: 10px;
    }
</style>
